include ../partials/navbar
include ../partials/title
    
        form(action="/Save", method="post", class="form-group w-50", style='font-size: 20px; margin-left: auto; margin-right: auto;')
            label(for="Zoo") Zoo: 
            input(type="text", class="form-control", id="Zoo", name="Zoo")
            br
            label(for="ScientificName") Scientific Name: 
            input(type="text", class="form-control", id="ScientificName", name="ScientificName")
            br
            label(for="CommonName") Common Name: 
            input(type="text", class="form-control", id="CommonName", name="CommonName")
            br
            label(for="GivenName") Given Name: 
            input(type="text", class="form-control", id="GivenName", name="GivenName")
            br
            h4 Gender: 
            label(for="GenderM") Male: 
            input(type="radio", id="GenderM", name="Gender" value="Male")
            label(for="GenderF") Female: 
            input(type="radio", id="GenderF", name="Gender" value="Female")
            label(for="GenderO") Other: 
            input(type="radio", id="GenderO", name="Gender" value="Other")
            //input(type="text", id="Gender", name="Gender")
            br
            label(for="DOB") Date of Birth: 
            input(type="date", class="form-control", id="DOB", name="DOB", max=now)
            //input(type="text", id="DOB", name="DOB")
            //br
            //label(for="Age") Age: 
            //input(type="text", id="Age", name="Age")
            br
            h4 Is This Animal Transportable?
            label(for="isTransportableY") Yes
            input(type="radio", id="isTransportableY", name="isTransportable" value="1")
            label(for="isTransportableN") No
            input(type="radio", id="isTransportableN", name="isTransportable" value="0")
            br
            input(type="submit",  class="form-control")
            input(type="reset" value="Reset Form",  class="form-control")

        